<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	<mapper namespace="com.hackaton.dinothon.mapper.DespachoMapper">
		

	<resultMap id="despachoMap" type="com.hackaton.dinothon.entity.Despacho" >
	  <id 		property="id_desp" 		column="id_despacho" 	javaType="java.lang.Integer"/>
	  <result	property="f12" 		column="n_f12" 	javaType="java.lang.String" 	jdbcType="VARCHAR"/>
	</resultMap>
	
</mapper>