<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

	<div class="container">
	    <a th:href="@{/form}" class="btn btn-success btn-lg my-3">volver</a>
		<ul class="list-group my-2">
			<li class="list-group-item active" th:text="${titulo}"></li>
			<li class="list-group-item" th:text="${usuario.nombre}"></li>
			
		</ul>
	</div>
</body>
</html>