<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/dinothon.png"> 
    </a>
     <H1>
      	DINOTHON
      </H1>
      <H2>
      	Hackathon Falabella 2022
      </H2>
    
  </div>
</div>
<div class="container">
  <label>
  	Ingresa F12 a buscar
  </label>
  <input type="text" name="f12" id="f12"/>
  <input type="button" name"buscar" id="buscar" value="Buscar"/>
  
</div>

</body>
</html>
